* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #e6e6fa;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  width: 100%;
  margin: 100px auto;
  padding: 20px;
  height: auto;
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 20px; /* タイトルと選択肢の間に余白を追加 */
  text-align: center;
  position: relative;
  padding-left: 40px; /* 左側の巻物筒部分のためにスペースを確保 */
}

.card h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;  /* 巻物の筒部分の幅 */
  height: 100%;  /* 高さをタイトルの高さに合わせる */
  background-color: #2e8b57;  /* 緑色 */
  border-radius: 5px 0 0 5px;  /* 左上と左下を丸くする */
}

.choices-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2x2の選択肢配置 */
  grid-gap: 20px;
  width: 100%;
  max-width: 600px;
}

.choice button {
  border: 1px solid rgba(0, 0, 0);
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  outline: none;
  background-color: #fff;
  width: 100%;
  font-size: 20px;
}
