* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #e6e6fa;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  width: 100%;
  margin: 100px auto;
  padding: 20px;
  height: auto;  /* 高さを自動調整 */
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 20px; /* タイトルと選択肢の間に余白を追加 */
  background-color: #f0f0f0;  /* 背景色を追加（巻物風） */
  padding: 10px;
  border: 5px solid #2c7a4f;  /* 緑色の枠 */
  border-radius: 10px;  /* 角を丸めて柔らかい印象 */
}

.choices-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  max-width: 600px;
  margin-top: 20px; /* タイトルと選択肢の間に余白 */
}

.card .choice button {
  border: 1px solid rgba(0, 0, 0);
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  outline: none;
  background-color: #fff;
  width: 100%;
  font-size: 20px;
}
